/* style du document */

.container-fluid {
	margin: 0;
	padding: 0;
}

/* style de la barre de navigation */

header {
	height: 50px;
}

.navbar {
	margin-bottom: 0;
	background-color: #FFFFFF;
}

.navbar-nav {
	padding-right: 15px;
}

.navbar-brand,
.navbar-nav a {
	font-size: 1em;
	font-weight: 700;
	font-family: "Open Sans";
}

.navbar-brand {
	color: #F05F40;
}

.navbar-nav a {
	color: #222222;
}

/* style de la première section ("find out more") */

header+section {
	height: 840px;
	padding-top: 220px;
	text-align: center;
	background-image: url("img/header.jpg");
	background-size: auto 100%;
	background-position: center;
}

h1 {
	margin-top: 0;
	font-size: 4em;
	font-weight: 700;
	font-family: "Open Sans";
	color: #FFFFFF;
}

hr {
	width: 50px;
	height: 3px;
	border: 0;
	background-color: #F05F40;
}

header+section > p {
	margin: 0;
	font-size: 1.2em;
	font-weight: 100;
	font-family: "Merriweather";
	color: rgba(255,255,255,0.8);
}

.btn {
	margin: 50px 0;
	padding: 18px 30px;
	border-radius: 30px;
	background-color: #F05F40;
}

header+section > a > .btn > p {
	margin: 0;
	font-weight: 700;
	font-family: "Open Sans";
	color: #FFFFFF;
}

/* style de la première section ("get started!") */

header+section+section {
	background-color: #F05F40;
	color: #FFFFFF;
}

header+section+section > h2 {
	font-family: "Open Sans";
}

header+section+section > p {
	font-size: 1em;
	font-weight: 100;
	font-family: "Merriweather";
	color: rgba(255,255,255,0.8);
}

header+section+section > a > button > p {
	font-weight: 700;
	font-family: "Open Sans";
	color: #000000;
}
